.add-service{
    margin: 2em 9vw;

}
.add-service h2{
    color: #435555;
    font-weight: 700;
}
.add-service form{
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}
.add-service input, textarea{
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 50%;
    border-radius: 5px;
}
.add-service form input[type=Submit] {
    width: 10em;
    background-color: #435555;
    font-weight: 700;
    margin-top: 1em;
    padding: .5em 1.3em;
    color: white;
}


@media only screen and (max-width: 688px) {
    .add-service input, textarea{
        width: 100%;
    }
}